<div ng-controller="MainController as ctrl">
  <div class="table">
    <div class='header'>
      <div class="cell">
        B
      </div>
      <div class="cell">
        I
      </div>
      <div class="cell">
        N
      </div>
      <div class="cell">
        G
      </div>
      <div class="cell">
        O
      </div>
    </div>
    <div class="row" ng-repeat="row in ctrl.rows">
      <div class="cell" ng-repeat="value in row.values">
        {{ value }}
      </div>
    </div>
  </div>
</div>
