alembic
bcrypt
flask
Flask-Admin
Flask-Login
flask-marshmallow
Flask-Migrate
flask-oauthlib
flask-script
Flask-SQLAlchemy
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
python-jose
pytz
SQLAlchemy
SQLAlchemy-Utils
WTForms

# Frozen due to https://github.com/jarus/flask-testing/issues/143
werkzeug==0.16.1

# For running prod.
uwsgi

# For sentry
raven
blinker

# For testing
nose
Flask-Testing

# See what needs updating
# pip list --outdated