alembic
bcrypt
flask
Flask-Admin
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
PyJWT
pytz
requests
sqlalchemy
SQLAlchemy-Utils
WTForms

# Schema validation
jsonschema

# For local https testing.
pyOpenSSL

# For running prod.
uwsgi

# For sentry
sentry-sdk[flask]

# For testing
pytest
Flask-Testing

# See what needs updating
# pip list --outdated