alembic
bcrypt
flask==1.1.2
Flask-Admin
Flask-Login
flask-marshmallow
Flask-Migrate
flask-oauthlib
flask-script
Flask-SQLAlchemy
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
python-jose
pytz
sqlalchemy < 1.4.0
SQLAlchemy-Utils
WTForms

# Schema validation
jsonschema

# For local https testing.
pyOpenSSL

# Frozen due to https://github.com/jarus/flask-testing/issues/143
werkzeug==0.16.1

# For running prod.
uwsgi

# For sentry
raven
blinker

# For testing
pytest
Flask-Testing

# See what needs updating
# pip list --outdated