body {
  margin: 0;
}

.hand {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin-right: 20px;
}

.hand .card {
  /* In a hand we can overlap cards. */
  width: 20px;
}

.flop .card {
  margin: 8px;
}
/* Common styles */
.card {
  height: 100px;
  overflow: visible;
  display: inline-block;
}

.card img {
  height: 100%;
  max-width: initial;
}