<div ng-controller="MyController as ctrl">
  <div class="flop">
    <div class="card" ng-repeat="card in ctrl.flop">
      <img ng-src="{{ card.img }}" />
    </div>
  </div>
  <div ng-repeat="player in ctrl.players" class="hand">
    <div class="card" ng-repeat="card in player.hand">
      <img ng-src="{{ card.img }}" />
    </div>
    <div>
      {{ player.handValue || json }}
    </div>
  </div>
  <div class="actions">
    <div class="button" ng-click="ctrl.redeal()">
      Re deal
    </div>
  </div>
</div>
