<div ng-controller="DashboardController as ctrl">
  <div class="header" ng-include="'/static/shared/templates/header.tpl.html'">
  </div>

  <div ng-include="'/static/rock/header.tpl.html'">
  </div>

  <div class="actions">
    <div ng-show="ctrl.currentUser.admin" class="button" ng-click="ctrl.importSongs()">
      Import Songs (will query the rock API for new songs)
    </div>
  </div>

  <div class="prediction">
    <div ng-hide="ctrl.songs.$resolved">
      Loading predictions...
    </div>
    <div ng-show="ctrl.songs.$resolved">
      <div>
        Prediction for the next songs
      </div>
      <div class="song" ng-repeat="song in ctrl.songs">
        <div ng-hide="song.rankThisYear" class="rank estimated">
          {{ ctrl.songs.length - $index }}.
        </div>
        <div class="song_inner" ng-include="'/static/rock/song.tpl.html'"></div>
      </div>
    </div>
  </div>
  <div class="recent">
    <div ng-show="ctrl.recent.$resolved">
      Recently played songs
    </div>
    <div ng-hide="ctrl.recent.$resolved">
      Loading recently played...
    </div>
    <div class="song" ng-repeat="song in ctrl.recent"
        ng-include="'/static/rock/song.tpl.html'">
    </div>
  </div>
</div>
