/* Picks page styles */
.pick {
  position: relative;
}
.pick.over {
  background-color: rgba(0, 0, 0, 0.2);
}
.pick label {
  display: block;
  border-radius: 1000px;
  border: 1px solid gray;
  margin-bottom: 4px;
  padding: 8px;
  cursor: pointer;
}
.pick label .artist {
  display: inline-block;
}

.pick .artist {
  font-size: 12px;
  color: #333333;
}

.pick .delete {
  cursor: pointer;
  height: 20px;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
}
.loading {
  padding: 20px 10px;
  text-align: center;
}

.options {
  position: absolute;
  max-width: 80%;
  /* Room for ~4.5 options */
  /*max-height: 220px;*/
  overflow-y: auto;
  border: 1px solid #333;
  box-shadow: 2px 2px 5px 0 #777777;
}

.options .song {
  cursor: pointer;
}

/* Recent Songs (aka Home) Page */
.prequel {
  margin: 0 10%;
}

.prequel .next,
.prequel .previous {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
  box-shadow: 0px 0px 5px 1px #CCC;
  border-radius: 5px;
}

.songs {
  margin: 10px 5%;
  padding: 10px 5%;
}

.song {
  position: relative;
  display: block;
  padding: 6px 5px;
  border-bottom: 1px solid #777777;
}

.song .rank {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
}

.album {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.song .extra_details {
  display: inline-block;
  vertical-align: middle;
}

.song .artist {
  font-size: 16px;
  color: #00d0e0;
}

.song .previously {
  float: right;
  vertical-align: middle;
  font-size: 13px;
  color: #333333;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.prediction {
  width: 49%;
  display: inline-block;
}

.recent {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}