
/* General text styles. */
.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.sub_title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin: 4px 0;
}

.intro {
  position: relative;
}
.intro .info {
  text-align: center;
  /* To allow space for the profile image */
  padding: 48px 160px 48px 10px;
  margin: 0px auto;
}

.profile {
  border-radius: 1000px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 10px;
  top: 0px;
  right: 0px;
}

@media screen and (max-width: 400px) {
  .intro {
    padding: 10px;
  }
  .profile {
    position: initial;
    margin: 10px auto;
  }
}

.page {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.section {
  margin: 24px 0;
}

.skill {
  margin: 16px 0;
}

.job {
  margin: 16px 0;
}
.job .year {
  font-size: 14px;
  font-style: italic;
}
.job .company {
  font-size: 20px;
  font-weight: 700;
}
.job .project {
  font-size: 16px;
  font-weight: 700;
}

.university .sub_title {
  display: inline-block;
}

.referees {
  margin-bottom: 50px;
}
