body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nowrap {
  white-space: nowrap;
}

.table {
  display: table;
  width: 100%;
  border-collapse:collapse;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid black;
  padding: 8px;
}

.intro {
  text-align: center;
  /* To allow space for the profile image */
  padding: 48px 160px 48px 10px;
  margin: 0px auto;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.sub_title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin: 4px 0;
}

.header {
  position: relative;
}

.profile {
  border-radius: 1000px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 10px;
  top: 0px;
  right: 0px;
}

@media screen and (max-width: 400px) {
  .intro {
    padding: 10px;
  }
  .profile {
    position: initial;
    margin: 10px auto;
  }
}

.page {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.section {
  margin: 24px 0;
}

.skill {
  margin: 16px 0;
}

.job {
  margin: 16px 0;
}
.job .year {
  font-size: 14px;
  font-style: italic;
}
.job .company {
  font-size: 20px;
  font-weight: 700;
}
.job .project {
  font-size: 16px;
  font-weight: 700;
}

.university .sub_title {
  display: inline-block;
}

.referees {
  margin-bottom: 50px;
}
