body {
	margin: 0;
}

.links {
	position: absolute;
	background: white;
	padding: 16px;
	width: 100px;
	height: 40px;
}

canvas#defaultCanvas0 {
	/* Hide the p5 canvas as I'm just using it for vector math. */
	display: none;
}