body {
  overflow: hidden
}

.sidebar {
  background-color: #3C2B3B;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  float: left;
}

.sidebar .username {
  color: #766C75;
  margin: 4px 20px;
}

.page {
  margin: 0;
  /* The size of the sidebar */
  margin-left: 216px;
  height: 100%;
  overflow-y: auto;
}

.message {
  padding: 2px 0;
  position: relative;
}

.message:hover {
  background-color: #F7F7F7;
}

.message .date {
  text-align: right;
  position: absolute;
  white-space: nowrap;
  font-size: 13px;
  padding-right: 16px;
}

.message .content {
  white-space: normal;
  position: relative;
  margin-left: 78px;
}

.message .username {
  /* Indent user less than the rest of the message text */
  margin-left: -8px;
  font-weight: 600;
  display: inline-block;
}

.message .text {
  display: inline;
  /* For long urls */
  word-wrap: break-word;
}

.message .expand {
  font-size: 13px;
  padding: 3px;
}
.message .expand span {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 20px;
  border: red 1px solid;
  padding: 8px;
}
