<div class="admin_list" ng-controller="EditController as ctrl">
  <div ng-include="'/static/admin/header.tpl.html'"></div>
  <h2>
    Edit/Create a {{ ctrl.model.name }}
  </h2>

  <pre>{{ ctrl.item | json }}</pre>

  <div class="field" ng-repeat="field in ctrl.model.fields">
    <label>
      {{ field.name }}:
    </label>
    <span ng-if="field.type=='nested'">
      <!-- TODO include edit fields for the sub model -->
      <!-- TODO probably should include a directive? -->
    </span>
    <span ng-if="field.type=='select'">
      <!-- Get options from model? -->
      <!-- TODO use a better selector thing -->
      <select ng-options="field.model.name_field(o) for o in field.options track by o.id" ng-model="ctrl.item[field.name]">
        <option>&lt;None&gt;</option>
      </select>
    </span>
    <span ng-if="field.type!='select'">
      <input type="{{ field.type || 'text' }}" ng-model="ctrl.item[field.name]" />
    </span>
  </div>
  <div class="button save" ng-click="ctrl.saveItem(ctrl.item)">
    Save
  </div>
</div>
