<div class="admin_home" ng-controller="HomeController as ctrl">
  <div ng-include="'/static/admin/header.tpl.html'"></div>
  <div class="page">
    <h2>
      Mudge Admin.
    </h2>
    <div ng-hide="ctrl.project">
      <p>
        Choose a project
      </p>
      <div ng-repeat="project in ctrl.projects">
        <a href="{{ project }}/"> {{ project }}</a>
      </div>
    </div>
    <div ng-show="ctrl.project">
      <p>
        Project: {{ ctrl.project }}
      <p>
      <div ng-show="ctrl.models">
        Models
        <div ng-repeat="model in ctrl.models">
          <pre>name: {{ model.name }}</pre>
          <div ng-repeat="field in model.fields">
            <pre>  name: {{ field.name }} - {{ field.type }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
