<div class="admin_list" ng-controller="ListController as ctrl">
  <div ng-include="'/static/admin/header.tpl.html'"></div>
  <!-- Now show some table row headers -->
  <table>
    <tr>
      <th>
        Actions
      </th>
      <th ng-repeat="field in ctrl.model.list_fields">
        {{ field.name }}
      </th>
    </tr>
    <tr ng-repeat="item in ctrl.list" ng-class-odd="'odd'">
      <td class="actions">
        <span ng-if="item.id">
          <a class="view item" href="model/{{ ctrl.model.name }}/{{ item.id }}">
            <i class="fa fa-eye"></i>
          </a>
          <a class="edit item" href="model/{{ ctrl.model.name }}/{{ item.id }}/edit">
            <i class="fa fa-pencil"></i>
          </a>
          <span class="delete item" ng-click="ctrl.deleteItem(item)">
            <i class="fa fa-trash"></i>
          </span>
        </span>
      </td>
      <td ng-repeat="field in ctrl.model.list_fields">
        <span ng-if="field.list">
          <span ng-if="field.link" ng-repeat="subitem in item[field.name]">
            <a href="model/{{ field.model.name }}/{{ subitem.id }}">
              {{ subitem.name }}
            </a>
          </span>
          <span ng-if="!field.link" ng-repeat="subitem in item[field.name]">
            {{ subitem.name }}
          </span>
        </span>
        <span ng-if="!field.list">
          <span ng-if="field.type == 'date'">
            {{ ctrl.valueFor(field, item) | date: 'medium' }}
          </span>
          <span ng-hide="field.type == 'date'">
            <!-- TODO should still link? -->
            {{ ctrl.valueFor(field, item) }}
          </span>
        </span>
      </td>
    </tr>
  </table>
  <!-- Followed by some row values. -->
</div>
