<div ng-controller="LoginController as ctrl">

  Google Status: {{ ctrl.loginService.googleStatus }}

  <div ng-show="ctrl.googleLoginButton">
    <span class="button" ng-click="ctrl.loginWithGoogle()">
      Login with Google
    </span>
  </div>

  <div ng-show="ctrl.loginService.googleUser">
    <div ng-click="debug=!debug"> Show google user </div>
    <div ng-show="debug">
      <pre>{{ ctrl.loginService.googleUser | json }}</pre>
    </div>
  </div>

  <div ng-show="ctrl.loginService.googleUser.id_token">
    <span class="button" ng-click="ctrl.loginWithGoogle()">
      Login
    </span>
    <span class="button" ng-click="ctrl.logout()">
      Logout
    </span>
  </div>
  <div ng-show="ctrl.loginService.user">
    <div ng-click="debug=!debug"> Show user </div>
    <div ng-show="debug">
      <pre>{{ ctrl.loginService.user | json }}</pre>
    </div>
  </div>

</div>