<div ng-controller="LoginController as ctrl">

  <div ng-hide="ctrl.googleLoginButton">
    {{ ctrl.loginService.googleStatus }}
  </div>

  <div ng-show="ctrl.googleLoginButton">
    <div class="button">
      Login with Google
    </div>
  </div>

  <div ng-show="ctrl.loginService.googleUser">
    <div ng-click="debug=!debug"> Show google user </div>
    <div ng-show="debug">
      <pre>{{ ctrl.loginService.googleUser | json }}</pre>
    </div>
  </div>

  <div ng-show="ctrl.loginService.googleUser.id_token">
    <div class="button" ng-click="ctrl.loginWithGoogle()">
      Login
    </div>

  <div ng-show="ctrl.loginService.user">
    <div ng-click="debug=!debug"> Show user </div>
    <div ng-show="debug">
      <pre>{{ ctrl.loginService.user | json }}</pre>
    </div>
  </div>

</div>