<header ng-include="'/static/new_site/header.html'"></header>
<div class="home" ng-class="{'portrait':portrait}" ng-controller="MainController as ctrl">
  <div ng-if="backgroundVideo" class="video-wrapper">
    <video class="video" autoplay loop>
      <source ng-src="{{ backgroundVideoSrc | trusted }}" type="video/mp4">
    </video>
    <div class="shadow_nav">
    </div>
    <div class="scroll_down" ng-show="scrollPos == 0">
      <img src='/static/img/new_site/arrow@2x.png' />
    </div>
  </div>

  <div ng-if="!backgroundVideo">
    <img ng-if="portrait" class="mobile" src="/static/img/new_site/home_background.jpg" />
    <img ng-if="!portrait" class="mobile" src="/static/img/new_site/home_background_landscape.jpg" />
    <div class="gradient-over"></div>
  </div>

  <div class="main">
    <div class="text overlay">
      <h2>Mix realities with holograms</h2>
      <h4>Easily record and experience photorealistic human holograms with true volume and depth for virtual, augmented and mixed reality</h4>
      <!-- <div class="buttons">
        <div class="button" ng-click="ctrl.showVideo();">
          WATCH INTRO
        </div>
      </div> -->
    </div>
    <div class="social" ng-controller="SocialController as social" ng-show="scrollPos == 0">
      <a class="nav-item" ng-click="social.clickHome('facebook', 'https://www.facebook.com/8iReality')">
        <img src="/static/img/new_site/home social/Facebook@2x.png" />
      </a>
      <a class="nav-item" ng-click="social.clickHome('twitter', 'https://twitter.com/8ireality')">
        <img src="/static/img/new_site/home social/Twitter@2x.png" />
      </a>
      <a class="nav-item" ng-click="social.clickHome('instagram', 'https://www.instagram.com/8ireality')">
        <img src="/static/img/new_site/home social/Instagram@2x.png" />
      </a>
      <a class="nav-item" ng-click="social.clickHome('youtube', 'https://www.youtube.com/channel/UCwJLcfJreyhTdQaBCzBNA_Q')">
        <img src="/static/img/new_site/home social/Youtube@2x.png" />
      </a>
      <a class="nav-item" ng-click="social.clickHome('medium', 'https://medium.com/@8iReality')">
        <img src="/static/img/new_site/home social/medium@2x.png" />
      </a>
    </div>
  </div>

  <div class="main-page">
    <div class="record image-swap">
      <div class="fade-in" ng-class="{'show': ctrl.selected >= 0}">
        <img src="/static/img/new_site/home_green_room.jpg" />
        <div class="gradient-over"></div>
      </div>
      <div class="text overlay">
        <h3>The evolution of human communication and storytelling</h3>
        <p>
          As the world moves beyond the flat screen, 3D holograms enable us to experience human
          content and each other in the most realistic way. Our technology makes it simple to
          create the highest fidelity, photorealistic holograms of real people. 8i’s volumetric
          holograms have true depth and position, enabling you to view them from any angle and
          experience an unprecedented sense of presence in virtual, augmented, or mixed reality.
        </p>
        <div ng-show="!smallScreen" ng-click="ctrl.goto('create')" class="button">
          CREATE WITH 8i
        </div>
      </div>
    </div>
    <div class="playback image-swap">
      <div class="fade-in" ng-class="{'show': ctrl.selected >= 1}">
        <img src="/static/img/new_site/home_VR.jpg" />
        <div class="gradient-over"></div>
      </div>
      <div class="text overlay">
        <h3>Make virtual reality human</h3>
        <p>
          A truly immersive experience, volumetric VR teleports you to another place and gives you
          the freedom to move around human holograms as if you were in the same room, opening up
          worlds of possibilities.
        </p>
      </div>
    </div>
    <div class="movement image-swap">
      <div class="fade-in" ng-class="{'show': ctrl.selected >= 2}">
        <img src="/static/img/new_site/home_AR.jpg" />
        <div class="gradient-over"></div>
      </div>
      <div class="text overlay">
        <h3>Bring holograms into the <span style="white-space: nowrap">real world</span></h3>
        <p>
          With augmented and mixed reality, you can now engage with human holograms in the physical
          world  without the need for virtual environments, or a holodeck.
        </p>
        <div class="button" ng-click="ctrl.goto('holo')">
          INTRODUCING HOLO
        </div>
      </div>
    </div>
    <div class="dots" ng-show="ctrl.selected != -1">
      <img ng-class="{'inactive': ctrl.selected != 0}" src="/static/img/new_site/dot.png" />
      <img ng-class="{'inactive': ctrl.selected != 1}" src="/static/img/new_site/dot.png" />
      <img ng-class="{'inactive': ctrl.selected != 2}" src="/static/img/new_site/dot.png" />
    </div>
    <div class="last-section">
      <div class="quotes">
        <div class="text">
          <h3> In the press</h3>
        </div>
        <div class="slider">
          <div class="left">
            <div class="arrow" ng-click="ctrl.quoteLeft()">
              <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                 x="0px" y="0px" width="40px" height="62.7px" viewBox="0 0 39.9 62.7" style="enable-background:new 0 0 40 62.7;"
                 xml:space="preserve">
                <g>
                  <path class="st0" d="M2.7,37.4c-3.3-3.3-3.3-8.6,0-11.8s8.6-3.3,11.8,0l22.9,22.9c3.3,3.3,3.3,8.6,0,11.8c-3.3,3.3-8.6,3.3-11.8,0
                    L2.7,37.4z"/>
                  <path class="st0" d="M14.3,37.2c-3.3,3.3-8.6,3.3-11.8,0s-3.3-8.6,0-11.8L25.3,2.5c3.3-3.3,8.6-3.3,11.8,0s3.3,8.6,0,11.8
                    L14.3,37.2z"/>
                </g>
              </svg>
            </div>
          </div>
          <div class="inner">
            <div class="quote" ng-repeat="quote in ctrl.quotes">
              <a href="{{ quote.link }}" target="_blank">
                <div class="quotee">
                  <img ng-src="{{ quote.who }}" />
                </div>
                <p><q>{{ quote.what }}</q></p>
              </a>
            </div>
          </div>
          <div class="right">
            <div class="arrow" ng-click="ctrl.quoteRight()">
              <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                 x="0px" y="0px" width="40px" height="62.7px" viewBox="0 0 39.9 62.7" style="enable-background:new 0 0 40 62.7;"
                 xml:space="preserve">
                <g>
                  <path class="st0" d="M2.7,37.4c-3.3-3.3-3.3-8.6,0-11.8s8.6-3.3,11.8,0l22.9,22.9c3.3,3.3,3.3,8.6,0,11.8c-3.3,3.3-8.6,3.3-11.8,0
                    L2.7,37.4z"/>
                  <path class="st0" d="M14.3,37.2c-3.3,3.3-8.6,3.3-11.8,0s-3.3-8.6,0-11.8L25.3,2.5c3.3-3.3,8.6-3.3,11.8,0s3.3,8.6,0,11.8
                    L14.3,37.2z"/>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="contact">
          <div class="form">

          <!-- Begin MailChimp Signup Form -->
          <form action="//www.us12.list-manage.com/subscribe/post?u=cae675f4a9a466a7eac622323&amp;id=088808efa1"
              method="post" target="_blank">
            <div id="mc_embed_signup_scroll">
              <input type="text" placeholder="First Name" name="FNAME" class="name">
              <input type="email" placeholder="Email" name="EMAIL" class="email">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cae675f4a9a466a7eac622323_088808efa1" tabindex="-1" value=""></div>
              <input type="submit" value="KEEP ME POSTED" name="subscribe" class="button pink">
            </div>
          </form>
          <!--End mc_embed_signup-->
          <div class="agree">
            By signing up for the newsletter, I agree that 8i may use my information as described in the
            <span style="white-space: nowrap;"><a href="/privacy">8i Privacy Policy</a></span>.
            You may withdraw your consent at any time.
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="ctrl.video.show" ng-click="ctrl.hideVideo();" class="modal modal-video" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="yt_video">
    </div>
  </div>
</div>

<footer ng-include="'/static/new_site/footer.html'"></footer>
