<canvas id="canvas"></canvas>
<div ng-hide="ctrl.pause" class="pause">
  <div class="button" ng-click="ctrl.pause = true">
    Pause
  </div>
</div>
<div ng-show="ctrl.pause" class="pause_menu">
  <h4>Pause Menu</h4>
  <!-- Some min/max/step might be good -->
  <div>
    <label>
      Acceleration
      <input ng-model="ctrl.Player.ACCELERATION" />
    </label>
  </div>
  <div>
    <label>
      Friction
      <input ng-model="ctrl.Player.FRICTION" />
    </label>
  </div>
  <div>
    <label>
      Turn Speed
      <input ng-model="ctrl.Player.TURN_SPEED" />
    </label>
  </div>
  <div>
    <label>
      Slipperiness
      <input ng-model="ctrl.Player.SLIP_FACTOR" />
    </label>
  </div>
  <p>
    <div class="button" ng-click="ctrl.start()">
      Continue
    </div>
  </p>
</div>
