<canvas id="canvas"></canvas>
<div ng-hide="ctrl.pause" class="pause">
  <div class="button" ng-click="ctrl.pause = true">
    Pause
  </div>
</div>
<div ng-show="ctrl.pause" class="pause_menu">
  <h4>Pause Menu</h4>
  <!-- Some min/max/step might be good -->
  <div>
    <label>
      Engine Force
      <input ng-model="ctrl.Player.ENGINE_FORCE" />
    </label>
  </div>
  <div>
    <label>
      Engine Power
      <input ng-model="ctrl.Player.ENGINE_POWER" />
    </label>
  </div>
  <div>
    <label>
      Brake Force
      <input ng-model="ctrl.Player.BRAKE_FORCE" />
    </label>
  </div>
  <div>
    <label>
      Drag
      <input ng-model="ctrl.Player.DRAG" />
    </label>
  </div>
  <div>
    <label>
      Turn Speed
      <input ng-model="ctrl.Player.MAX_TURN_RATE" />
    </label>
  </div>
  <div>
    <label>
      Cornering Stiffness
      <input ng-model="ctrl.Player.CORNERING_STIFFNESS" />
    </label>
  </div>
  <div>
    <label>
      Max Traction
      <input ng-model="ctrl.Player.MAX_TRACTION" />
    </label>
  </div>
  <div>
    <label>
      Grip Coefficient (Off Track)
      <input ng-model="ctrl.Player.GRIP_COEFFICIENT_OFF_TRACK" />
    </label>
  </div>
  <div>
    <label>
      Rolling Resistance (Off Track)
      <input ng-model="ctrl.Player.ROLLING_RESISTANCE_OFF_TRACK" />
    </label>
  </div>
  <p>
    <div class="button" ng-click="ctrl.saveGhostLap()" ng-if="ctrl.lastCompletedLap">
      Save Ghost Lap
    </div>
    <div class="button" ng-click="ctrl.loadGhostLap()">
      Load Ghost Lap
    </div>
  </p>
  <p>
    <div class="button" ng-click="ctrl.start()">
      Continue
    </div>
  </p>
</div>
