body {
  margin: 0;
  /* Make text unselectable */
  user-select: none;
}

/* Candidates for promotion to commons.css */
.table {
  width: auto;
  max-width: 100%;
}
.row * {
  display: table-cell;
}
.clickable {
  color: #00d0e0;
}

.text {
  text-align: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  font-size: 16px;
  top: 50%;
}

.card-1 {
  display: inline-block;
  vertical-align: middle;
  height: 50%;
  width: 25%;
  margin: 2%;
}

.card-1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  background: white;
  cursor: pointer;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.undo {
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 0px;
  left: 0px;
  padding: 16px;
  font-size: 36px;
}

.remaining {
  position: absolute;
  top: 0px;
  right: 0px;
}

.activity {
  font-size: 32;
  left: 50%;
  bottom: 5px;
  position: absolute;
  transform: translate(-50%, 0);
}
