<div ng-controller="MainController as mainCtrl">
  <label>
    Acting as:
    <select ng-model="actingUser" ng-options="user.name for user in users track by user.id">
    </select>
  </label>
  <label>
    Befriend:
    <select ng-model="recipient" ng-options="user.name for user in users track by user.id">
    </select>
  </label>
  <p>{{ actingUser }}</p>
  <p>{{ recipient }}</p>
  <div ng-click="mainCtrl.befriend(actingUser, recipient)" class="button">
    Become friends
  </div>
  <div ng-repeat="user in users">
    <p>
      {{ user.name }} has
      <ng-pluralize count="user.all_friends.length"
          when="{'0': 'no friends.', 'one': '1 friend.', 'other': '{} friends.'}">
      </ng-pluralize>
    </p>
    <label>
      Change name: <input type="text" ng-model="user.name" />
    </label>
    <div ng-click="mainCtrl.saveUser(user)" class="button">
      Save
    </div>
  </div>
</div>

