<html ng-app="{{ angular.app }}">
<head lang="en">
  <base href="{{ angular.base | default('/') }}" />
  <link rel="shortcut icon" href="{{ angular.favicon }}" type="image/x-icon" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">

  <title ng-bind="title">{{ angular.title | default(angular.app)}}</title>

  <script type="text/javascript" src="/static/js/angular/angular.js"></script>
  <script type="text/javascript" src="/static/js/angular/angular-cookies.js"></script>
  <script type="text/javascript" src="/static/js/angular/angular-resource.min.js"></script>
  <script type="text/javascript" src="/static/js/angular/angular-route.min.js"></script>
  <script>
    // make client_config available to the angular app through a module called config.
    var config = {{ angular.config | tojson }};
    angular.module('config', []).constant('config', config);
  </script>
  {% for style in styles %}
  <link rel="stylesheet" type="text/css" href="{{ style }}" />
  {% endfor %}
</head>
<body>
{% if angular.include %}
  <div ng-include="'{{ angular.include }}'"></div>
{% else %}
  {# Show the view for the current page #}
  <div ng-view autoscroll="true"></div>
{% endif %}

  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script type="text/javascript">
    if (typeof require !== 'undefined') {
      // When using brunch load the required modules.
      require('{{ brunch.require }}');
    }
  </script>
</body>
</html>
