<div class="tournament" ng-controller="MatchController as ctrl">
  <div class="header">
    <div ng-include="'/static/shared/templates/header.tpl.html'"></div>
  </div>
  <!-- Specific header -->
  <div class="tournament_header" ng-include="'/static/tournament/header.tpl.html'"></div>
  <form>
    <div class="cell">{{ ctrl.match.homeTeam.name }}</div>
    <div class="cell">
      <input ng-model="ctrl.match.result.homeScore">
    </div>
    <div class="cell"> v </div>

    <div class="cell">{{ ctrl.match.awayTeam.name }}</div>
    <div class="cell">
      <input ng-model="ctrl.match.result.awayScore" />
    </div>
    <button type="submit" class="button" ng-click="ctrl.submit()">
      Submit score
    </button>
  </form>
</div>
