.tournament_header {

}

/* Override colours*/
button, .button {
  background-color: #d00000;
}

.breadcrumbs {
  overflow: hidden;
}
.breadcrumbs .breadcrumb {
  padding: 4px;
  display: inline-block;
}

.tabs {
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
}

.tabs .tab {
  border: 1px solid #EEEEEE;
  background: #d00000;
  color: #FFFFFF;
  float: left;
  margin: 0;
  margin-left: -1px;
  border-bottom: #FFFFFF;
  padding: 4px 16px;
}

.tournament .cell {
	padding: 8px 4px;
}
.tournament .row.odd {
	background-color: #DDDDDD;
}

/* Not sure if we use this somewhere in tournament??? */
.tag {
  border-radius: 5px;
  padding: 2px 8px;
  margin: 2px 8px;
  box-shadow: 1px 1px 5px 0px #888888;
  display: inline-block;
}

/* TODO is this used??? */
.active {
  color: #00d0e0;
}

