<div ng-controller="MyController as ctrl" ng-show="ctrl.loginComplete">
  <div class="content" ng-show="!ctrl.googleUser">
    You need to
    <span class="clickable" ng-click="ctrl.loginToGoogle()">Login</span>
  </div>
  <div ng-show="ctrl.googleUser">
    <div class="content">
      <h1>Rock 1500</h1>
      <div class="picks">
        <div class="row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
          <!-- TODO table this? -->
          <div class="number">{{ i }}</div>
          <div class="pick">
            <span ng-show="ctrl.me.picks[$index]" class="button remove" ng-click="ctrl.removePick(ctrl.me.picks[$index])">-</span>
            <div class="song">
              <span ng-show="ctrl.me.picks[$index]">
                {{ ctrl.me.picks[$index].name }} - {{ ctrl.me.picks[$index].band }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <button ng-click="ctrl.savePicks()">Save Picks</button>
    </div>
    <div class="content">
      <div class="profile">
        {{ ctrl.googleUser.email }}<br>
        <span class="clickable" ng-click="ctrl.logout()">Logout</span>
        <img class="picture" ng-src="{{ ctrl.googleUser.data.picture }}" />
      </div>
      <h4> Browse songs </h4>
      <div class="search">
        <label>Search: <input ng-model="filter" /></label>
      </div>
      <div class="songs">
        <div class="song" ng-repeat="song in ctrl.songs | filter: filter">
          <span class="button add" ng-click="ctrl.addPick(song)">+</span>
          {{ song.name }}
          <span class="subtext">-</span>
          {{ song.band }}
        </div>
      </div>
      <div class="newsong">
        <h4> Add Song </h4>
        <p>
          <label class="subtext">
            Song: <input ng-model="ctrl.newsong.name" />
          </label>
          <label class="subtext">
            by <input ng-model="ctrl.newsong.band" />
          </label>
        </p>
        <button ng-click="ctrl.addSong(ctrl.newsong)">Add song</button>
      </div>
    </div>
  </div>
</div>
