body {
  background-color: #DDDDDD;
  font-family: Verdana, Arial;
}

.content {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  min-width: 490px;
  background-color: #FFFFFF;
  padding: 20px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.content h1 {
  margin: -20px -20px 20px;
  padding: 20px;
  background-color: black;
  color: red;
}

.number {
  display: inline-block;
  width: 30px;
}

.pick {
  position: relative;
  display: inline-block;
  width: 450px;
}

.picks .song {
  display: inline-block;
  border-bottom: 1px solid #000000;
  margin-left: 30px;
  width: 420px;
}

.picks .pick .remove {
  position: absolute;
  left: 0px;
  top: 1px;
}

.profile {
  width: 100%;
  position: relative;
  min-height: 32px;
}
.profile .picture {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.songs {
  overflow-y: auto;
  height: 210px;
  border: 1px solid #CCC;
  padding: 4px;
}

.songs .song {
  width: 100%;
}

.newsong h4 {
  margin: 16px 0;
}

.pick .button,
.song .button {
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #333;
  font-size: 13px;
  height: 14px;
  width: 14px;
  padding-top: 1px;
  padding-left: 1px;
  display: inline-block;
  line-height: 13px;
  text-align: center;
}

.clickable {
  cursor: pointer;
  color: #666677;
}
.subtext {
  font-size: 13px;
}
