body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.error {
  color: red;
}

.clickable {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.column {
  display: inline-block;
}

/* A nice default way to display a user object */
.user {
  margin: 16px 0;
}

/* Header styles */
.header {
  background-image: linear-gradient(#FFFFFF, #EEEEEE);
  height: 50px;
  /* Forces children to be contained inside this. */
  padding: 1px;
}

.header .home {
  margin: 16px;
  float: left;
}
.header .title {
  /* Allow space left and right for other header items */
  margin: 13px 180px 14px 70px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
/* User in the header is displayed in the top right corner */
.header .user {
  height: 40px;
  position: absolute;
  top: 5px;
  right: 20px;
  margin: 0;
}

.user .image {
  width: 40px;
  overflow: hidden;
  border-radius: 1000px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}
.user .image img {
  border-radius: 1000px;
  height: 100%;
}

.user .column {
  vertical-align: middle;
}

.user .username {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.page {
  padding: 0px 3%;
}

/* Form display */
.field {
  display: block;
}

.field input {
  display: inline-block;
  width: 100%;
}

.field select {
  display: inline-block;
  width: 100%;
}

.actions {
  margin: 16px 0;
}

.button {
  border-radius: 100px;
  border: 2px solid black;
  padding: 4px 20px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: rgba(0, 0, 0, .2)
}

