body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.error {
  color: red;
}

.clickable {
  cursor: pointer;
}

.column {
  display: inline-block;
}

/* A nice default way to display a user object */
.user {
  margin: 16px 0;
}

.user .image {
  width: 40px;
  overflow: hidden;
  border-radius: 1000px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.user .column {
  vertical-align: middle;
}

.user .username {
  font-size: 12px;
}

/* Form display */
.field {
  display: block;
}

.field input {
  display: inline-block;
  width: 100%;
}

.field select {
  display: inline-block;
  width: 100%;
}

.button {
  border-radius: 100px;
  border: 2px solid black;
  padding: 4px 20px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: rgba(0, 0, 0, .2)
}

