<div ng-controller="LoginController as ctrl">
  <div class="header" ng-include="'/static/shared/templates/header.tpl.html'">
  </div>

  <p ng-show="ctrl.currentApp && ctrl.currentUser.email">
    <a class="capitalize" href=".">Back to the {{ ctrl.currentApp }} Home Page</a>
  </p>
  <div>
    <p> Login Options </p>
    <div ng-show="ctrl.currentUser.email">
      <p>
      You are logged in as {{ ctrl.currentUser.email }}
      </p>
    </div>
    <div ng-hide="ctrl.currentUser.email">
      <p>
        You are not logged into mudge.co.nz
      </p>
      <p ng-hide="ctrl.googleUser">
        Login using google to authenticate your user.
      </p>
    </div>
    <div ng-show="ctrl.googleLoginButton">
      <div id="googleLoginButton"></div>
    </div>
  </div>

  <hr />

  <div class="clickable" ng-click="ctrl.advanced=!ctrl.advanced">
    <span ng-hide="ctrl.advanced">Show</span>
    <span ng-show="ctrl.advanced">Hide</span>
    debug information
  </div>

  <div ng-show="ctrl.advanced">
    <hr>
    <h4>Mudge.co.nz</h4>
    <p> status: {{ ctrl.loginService.currentStatus }}</p>
    <p> scopes: {{ ctrl.currentAccess.scopes }}</p>
    <hr>
    <h4>Google</h4>
    <p> status: {{ ctrl.loginService.googleStatus }}</p>

    <div> Actions </div>
    <div class="button" ng-click="ctrl.logout()">
      Logout
    </div>
    <div class="button" ng-click="ctrl.loginWithGoogle()">
      Login using Google
    </div>
    <hr>
    <div>
      <div ng-show="ctrl.loginService.googleUser">
        <div class="clickable" ng-click="debug=true">Show google data</div>
        <pre ng-show="debug">{{ ctrl.loginService.googleUser | json }}</pre>
      </div>
    </div>
    <p> User for mudge.co.nz </p>
    <div>
      <pre>{{ ctrl.loginService.user | json }}</pre>
    </div>
    <p>Access JWT contents </p>
    <div>
      <pre>{{ ctrl.loginService.currentAccess | json }}</pre>
    </div>
    <div ng-repeat="line in ctrl.debug track by $index">
      {{ line }}
    </div>
  </div>
</div>