<div ng-controller="LoginController as ctrl">

  <div class="header">
    Header
    <div class="user" ng-show="ctrl.currentUser.id">
      <div class="image">
        <img ng-src="{{ ctrl.currentUser.profile.image }}" />
      </div>
      <div class="username">
        {{ ctrl.currentUser.profile.username }}
      </div>
    </div>
    <div class="clickable" ng-hide="ctrl.currentUser.id" ng-click="ctrl.login()">
      Login
    </div>
  </div>

  <div>
    <h4>Status</h4>
    <p>{{ ctrl.loginService.currentStatus }}</p>
  </div>

  <div ng-show="ctrl.googleLoginButton">
    <div class="button" ng-click="ctrl.loginWithGoogle()">
      Login with Google
    </div>
  </div>

  <div class="clickable" ng-click="ctrl.advanced=!ctrl.advanced">
    <span ng-hide="ctrl.advanced">Show</span>
    <span ng-show="ctrl.advanced">Hide</span>
    debug information
  </div>

  <div ng-show="ctrl.advanced">
    <hr>
    <div> Actions </div>
    <div class="button" ng-click="ctrl.logout()">
      Logout
    </div>
    <div class="button" ng-click="ctrl.loginWithGoogle()">
      Login using Google
    </div>
    <hr>
    <div>
      Google login: {{ ctrl.loginService.googleStatus }}
      <div ng-show="ctrl.loginService.googleUser">
        <div class="clickable" ng-click="debug=true">Show google data</div>
        <pre ng-show="debug">{{ ctrl.loginService.googleUser | json }}</pre>
      </div>
    </div>

    <div>
      <pre>Mudge.co.nz user = {{ ctrl.loginService.user | json }}</pre>
    </div>
    <div ng-repeat="line in ctrl.debug">
      {{ line }}
    </div>
  </div>
</div>